extends ../../../layouts/default.pug
include ../../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-8.mx-auto
        +box-head("Reset password")

        form(
          action="/user/password/reset"
          method="POST"
        )
          div(class="form-group")
            label(for="password") New Password
            input(
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            )
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Confirm