
extends ../../../layout/default.pug


block main
  h1 General Setting

  form(
    action=`/${prefixAdmin}/settings/general?_method=PATCH`
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="websiteName") website Name
      input(
        type="text"
        class="form-control"
        id="websiteName"
        name="websiteName"
        value=(setting ? setting.websiteName : "")
      )
    div(
      class="form-group"
      upload-image
    )
      label(for="logo") Logo
      input(
        type="file"
        class="form-control-file"
        id="logo"
        name="logo"
        accept="image/*"
        upload-image-input
      )
      img(
        src=(setting ? setting.logo : "")
        class="image-preview"
        upload-image-preview
      )
    div(class="form-group")
      label(for="phone") Phone Number
      input(
        type="text"
        class="form-control"
        id="phone"
        name="phone"
        value=(setting ? setting.phone : "")
      )
    div(class="form-group")
      label(for="email") Email
      input(
        type="email"
        class="form-control"
        id="email"
        name="email"
        value=(setting ? setting.email : "")
      )
    div(class="form-group")
      label(for="address") Adress
      input(
        type="text"
        class="form-control"
        id="address"
        name="address"
        value=(setting ? setting.address : "")
      )
    div(class="form-group")
      label(for="copyright") Copyright
      input(
        type="text"
        class="form-control"
        id="copyright"
        name="copyright"
        value=(setting ? setting.copyright : "")
      )
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Update