extends ../../layout/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
block main

  //- - if (messages.status)
  //-   div(
  //-     class="alert alert-primary show-alert" alert='500'
  //-   ) #{messages.status}


  h1(class="mb-4") #{pageTitle}
  .card.mb-3
  .card-header Action
  .card-body
    div(class="text-right mb-2")
    a(
      href=`/${prefixAdmin}/products-category/create`
      class="btn btn-outline-success"
    ) + ADD NEW

    //- button(
    //-   class="btn btn-sm ml-1 btn-outline-success "
    //-   button-status=""
    //- ) ALL
    //- button(
    //-   class="btn btn-sm ml-1 btn-outline-success"
    //-   button-status="active"
    //- ) ACTIVE
    //- button(
    //-   class="btn btn-sm ml-1 btn-outline-success"
    //-   button-status="inactive"
    //- ) INACTIVE
    //- +search(keyword)
  .card.mb-3
    form(form-search="")
      .input-group
        input(
          type="text"
          placeholder="find...."
          name="keyword"
          class="form-control"
          value=keyword
        )
        .input-group-append
          button(
            class="btn btn-success"
            type="submit"
          ) find


  table.table.table-hover.table-sm
    thead
      tr
        th 
          input(type="checkbox", name="checkAll")
        th number
        th img
        th topic
        th parent ID 
          button(class="btn btn-warning btn-sm" changePosition) 
    tbody
      each item,index in product
        tr 
          td  
            input(type="checkbox", name="checkItem", value=item.id)
          td #{index+1}
          td
            img(
              src=item.thumbnail
              alt=item.title
              width="80px"
              height="auto" 
            )
          td #{item.title}
          td #{item.parent_id}
          td
            a(
              href=`/${prefixAdmin}/products-category/Preview/${item.id}`
              class="btn btn-warning btn-sm"
            ) edit
            button(class="btn btn-danger btn-sm ml-1" button-delete-Category=item.id) delete
            a(
                  class="btn btn-info btn-sm"
                  href=`/${prefixAdmin}/products-category/detail/${item.id}`
                ) detail
  