extends ../../../layout/default.pug

block main
  h1(class="mb-4") Edit

  form(
    action=`/${prefixAdmin}/account/editAccount/${account.id}`
    method="POST"
	enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="fullName") Full name *
      input(
        type="text"
        class="form-control"
        id="fullName"
        name="fullName"
        value=account.fullName
        required
      )
    div(class="form-group")
      label(for="email") Email *
      input(
        type="email"
        class="form-control"
        id="email"
        name="email"
        value=account.email
        required
      )
    div(class="form-group")
      label(for="password") Password *
      input(
        type="password"
        class="form-control"
        id="password"
        name="password"
      )
    div(class="form-group")
      label(for="phone") Phone number
      input(
        type="text"
        class="form-control"
        id="phone"
        name="phone"
        value=account.phone
      )
    div(
      class="form-group"
      upload-image
    )
      label(for="avatar") Avatar
      input(
        type="file"
        class="form-control-file"
        id="avatar"
        name="avatar"
        accept="image/*"
        upload-image-input
      )
      img(
        src=account.avatar
        class="image-preview"
        upload-image-preview
      )
    div(class="form-group")
      label(for="role_id") Role
      select(name="role_id" id="role_id" class="form-control")
        option(disabled) -- choose --
        each item in roles
          option(value=item.id  selected=(item.id == account.role_id ? true : false) ) #{item.title}
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked=(account.status == "active" ? true : false)
      )
      label(for="statusActive" class="form-check-label") Active
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
        checked=(account.status == "inactive" ? true : false)
      )
      label(for="statusInActive" class="form-check-label") Inactive
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Submit