include ../mixins/sub-menu.pug

header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src=setting.logo, alt="Logo")
      .col-5 
         form(
          action="/search"
          method="GET"
        ) 
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Key word..."
              class="form-control"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            ) Search
      .col-4
        .inner-menu
          ul
            li
              a(href="/") Main page
            li
            li(class="sub-menu")
              a(href="/products") Product page
              if(layoutCategoryProducts)
                +sub-menu(layoutCategoryProducts)
            li
              a(href="/cart") Cart (#{cartTotal})
            if(!Client)
              li  
                a(href="/user/register") Open an account
              li 
                a(href='/user/login') Login
            else
              li 
                a(href='/chat') Chat serviece
              li
                a(href="/user/profile") #{Client.fullName}
              li 
                a(href='/user/logout') Logout