extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Cart")

    .row
      .col-12
        table(class="table table-bordered cart")
          thead
            tr
              th Number
              th Img
              th Name
              th Price
              th Quatity
              th Total
              th Tools
          tbody
            if(cartDetail.products.length > 0)
              each product, index in cartDetail.products
                tr
                  td #{index + 1}
                  td
                    img(
                      src=product.productInfo.thumbnail
                      alt=product.productInfo.title
                      width="80px"
                    )
                  td
                    a(
                      href=`/products/detail/${product.productInfo.slug}`
                    ) #{product.productInfo.title}
                  td #{product.productInfo.priceNew}$
                  td
                    input(
                      type="number"
                      name="quantity"
                      value=product.quantity
                      min="1"
                      product-id=product.productid
                      style="width: 60px"
                    )
                  td #{product.productInfo.totalPrice}$
                  td
                    a(
                      href=`/cart/delete/${product.productid}`
                      class="btn btn-danger"
                    ) Delete
            else
              p Empty

        if(cartDetail.products.length > 0)
          h3(class="text-right") Total: #{cartDetail.totalPrice}$

          div(class="text-right mt-3")
            a(href="/checkout" class="btn btn-success") Place Order