extends ../../layout/default.pug
block main
  h1(class="mb-4") Phân quyền
  if(records)
    div(class="text-right")
      button(
        type="submit"
        class="btn btn-primary mb-3"
        button-submit=`/${prefixAdmin}/permission/Update`
      ) Cập nhật
    table(
      class="table table-hover table-sm"
      table-permissions
    )
      thead
        tr
          th Tính năng
          each item in records
            th(
              class="text-center"
              role-id=item.id
            ) #{item.title}
      tbody
        //- Danh sách sản phẩm
        tr
          td(colspan="4")
            b Danh sách sản phẩm
        tr
          td Xem
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id 
                data-name="products_view"
                checked=(item.permission.includes("products_view") ? true : false)
              )
        tr
          td Thêm mới
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id
                data-name="products_create"
                checked=(item.permission.includes("products_create") ? true : false)
              )
        tr
          td Chỉnh sửa
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id
                data-name="products_edit"
                checked=(item.permission.includes("products_edit") ? true : false)
              )
        tr
          td Xóa
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id
                data-name="products_delete"
                checked=(item.permission.includes("products_delete") ? true : false)
              )

        //- Danh mục sản phẩm
        tr
          td(colspan="4")
            b Danh mục sản phẩm
        tr
          td Xem
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id 
                data-name="products-category_view"
                checked=(item.permission.includes("products-category_view") ? true : false)
              )
        tr
          td Thêm mới
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id
                data-name="products-category_create"
                checked=(item.permission.includes("products-category_create") ? true : false)
              )
        tr
          td Chỉnh sửa
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id
                data-name="products-category_edit"
                checked=(item.permission.includes("products-category_edit") ? true : false)
              )
        tr
          td Xóa
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id
                data-name="products-category_delete"
                checked=(item.permission.includes("products-category_delete") ? true : false)
              )

        //- Nhóm quyền
        tr
          td(colspan="4")
            b Nhóm quyền
        tr
          td Xem
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id 
                data-name="roles_view"
                checked=(item.permission.includes("roles_view") ? true : false)
              )
        tr
          td Thêm mới
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id
                data-name="roles_create"
                checked=(item.permission.includes("roles_create") ? true : false)
              )
        tr
          td Chỉnh sửa
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id
                data-name="roles_edit"
                checked=(item.permission.includes("roles_edit") ? true : false)
              )
        tr
          td Xóa
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id
                data-name="roles_delete"
                checked=(item.permission.includes("roles_delete") ? true : false)
              )
        tr
          td Phân quyền
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id
                data-name="roles_permissions"
                checked=(item.permission.includes("roles_permissions") ? true : false)
              )

        //- Tài khoản admin
        tr
          td(colspan="4")
            b Tài khoản admin
        tr
          td Xem
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id 
                data-name="accounts_view"
                checked=(item.permission.includes("accounts_view") ? true : false)
              )
        tr
          td Thêm mới
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id
                data-name="accounts_create"
                checked=(item.permission.includes("accounts_create") ? true : false)
              )
        tr
          td Chỉnh sửa
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id
                data-name="accounts_edit"
                checked=(item.permission.includes("accounts_edit") ? true : false)
              )
        tr
          td Xóa
          each item in records
            td(class="text-center")
              input(
                type="checkbox" 
                data-id=item.id
                data-name="accounts_delete"
                checked=(item.permission.includes("accounts_delete") ? true : false)
              )