.sider
  .inner-menu
    ul 
      li
         a(href=`/${prefixAdmin}/dashboard`) dashboard
      li
         a(href=`/${prefixAdmin}/products`) product
      li 
        a(href=`/${prefixAdmin}/deleted`) deleted
      li 
        a(href=`/${prefixAdmin}/products-category`) category
      li  
         a(href=`/${prefixAdmin}/role`) role
      li 
          a(href=`/${prefixAdmin}/permission`) permission
      li 
          a(href=`/${prefixAdmin}/account`) account